.odds {
    background-color: rgb(247, 170, 183);
    font-family: 'Verdana', 'DejaVu Sans', sans-serif;
}

#second {
    color: blue;
    font-size: 36px;
}

.odd-font {
    font-size: 24px;
}

#fourth {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}