body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
}

.header {
  height: 72px;
  background: darkmagenta;
  color: white;
}

.footer {
  height: 72px;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  width: 300px;
  background: royalblue;
  box-sizing: border-box;
}

.card {
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
}

/*changes*/
body {
  display: flex;
  flex-direction: column;
}

.header {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 32px;
}

.container {
  display: flex;
  height:100%;
  flex-grow: 1;
}

.card-body {
  display:flex;
  padding:48px;
  flex-wrap:wrap;
  flex-basis: 70%;
  gap: 20px;
}

.card{
  padding: 30px;
  width: 25%;
  display:flex;
  align-items: flex-start;
  font-size: 14px;
}

.footer {
  margin-top: auto;
  display:flex;
  align-items: center;
  justify-content:center;
}

ul {
  list-style-type: none;
  padding: 0px;
 
}

li {
  margin: 10px;
}

a {
  text-decoration: none;
  color: white;
}